
#aiChat {
    width: 94%;
    height: 282px;
    border: 5px solid #000;
    border-radius: 15px;
    margin: 0 auto;
}

#messageBox {
    flex-grow: 1;
    padding: 10px;
    height: 71%;
    overflow-y: auto; /* y軸方向にあふれないようにautoをつける */
}

#inputBox {
    display: flex;
    padding: 10px;
    border-top: 1px solid #ccc;
}

#inputMsg {
    flex-grow: 1;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 10px;
}

#sendBtn {
    background-color: #af4cad;
    border: none;
    color: #fff;
    padding: 8px 15px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}