@charset "UTF-8";
body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  color: #333;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  padding: 20px;
}

#uploadScreen {
  text-align: center;
}
#uploadScreen .appLogo {
  width: 80%;
  max-width: 800px;
  margin-top: 20%;
  margin-bottom: 10px;
}
#uploadScreen #service-description {
  max-width: 800px;
  margin-bottom: 10px;
  font-size: 1.3em;
}
#uploadScreen #service-description .train-one-regular {
  font-family: "Train One", serif;
  font-weight: 400;
  font-style: normal;
}
#uploadScreen #description-details {
  max-width: 800px;
  margin-bottom: 20px;
  font-size: 0.75em;
  line-height: 0.5;
}
#uploadScreen #uploadTile {
  margin: auto;
  border: 2px dashed #aaa;
  padding: 40px;
  border-radius: 30px;
  cursor: pointer;
  background-color: #fff;
  transition: background-color 0.3s ease;
  width: 626px;
  height: 350px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#uploadScreen #uploadTile:hover {
  background-color: #f0f0f0;
}
#uploadScreen #uploadTile #dndText {
  font-size: 1.2em;
  color: #666;
}
#uploadScreen #uploadTile #dndText .imageicon {
  width: 24px;
  vertical-align: bottom;
  padding: 4px;
  opacity: 0.5;
}
#uploadScreen #uploadTile #dndText div:first-child {
  font-weight: bold;
  margin: 0;
}

#loadingScreen {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 350px;
}

#loadingText {
  font-size: 1.5em;
}

/* 黒いドーナツ型のリング（変化なし） */
.loader circle {
  transform-origin: center;
}

/* 伸びる物体（最初に回る） */
#falling-part {
  stroke-dasharray: 0, 100; /* 初期状態: 短い */
  stroke-dashoffset: 0;
  animation: stretchPath 1.5s infinite, rotateOrbit 1.5s linear infinite;
}

/* 遅れて回るボール */
#falling-part-ball {
  transform: rotate(-90deg) translateX(30px); /* 円周に沿う動きのみ適用 */
  transform-origin: 50% 50%;
  animation: Rotateball 1.5s cubic-bezier(0.1, 0.6, 0.9, 0.9) infinite;
  animation-timing-function: ease-in-out;
}

/* 伸びるアニメーション */
@keyframes stretchPath {
  0% {
    stroke-dasharray: 0, 360;
    stroke-dashoffset: 0;
  }
  100% {
    stroke-dasharray: 80, 190;
    stroke-dashoffset: -190;
  } /* 伸びた部分が後ろに移動 */
}
/* 円周を沿って回転 */
@keyframes rotateOrbit {
  0% {
    transform: rotate(0deg) translate(0px, 0px) rotate(0deg);
  }
  10% {
    transform: rotate(0deg) translate(0px, 0px) rotate(0deg);
  }
  75% {
    transform: rotate(180deg) translate(0px, 0px) rotate(-180deg);
  }
  100% {
    transform: rotate(180deg) translate(0px, 0px) rotate(-180deg);
  }
}
/* 円周を沿って回転 */
@keyframes Rotateball {
  0% {
    transform: rotate(-90deg) translateX(30px);
  }
  20% {
    transform: rotate(-90deg) translateX(30px);
  }
  75% {
    transform: rotate(270deg) translateX(30px);
  }
  100% {
    transform: rotate(270deg) translateX(30px);
  }
}
#resultScreen {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}
#resultScreen #mainResultsScreen {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 30px;
}
#resultScreen #mainResultsScreen #leftPanel {
  display: flex;
  width: 45%;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin: 0 auto;
}
#resultScreen #mainResultsScreen #leftPanel #headimg {
  width: 65%;
  margin-bottom: 15px;
}
#resultScreen #mainResultsScreen #leftPanel #loadedimage {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background-color: #ddd;
  width: 500px;
  height: 500px;
  border-radius: 10px;
}
#resultScreen #mainResultsScreen #leftPanel #loadedimage img {
  border-radius: 10px;
  padding: 20px;
  max-width: 100%;
  max-height: 100%;
  display: block;
  margin: 0 auto;
  width: 80%;
  height: 80%;
  object-fit: contain;
  object-position: center;
}
#resultScreen #mainResultsScreen #rightPanel {
  display: block;
  width: 45%;
  border-radius: 10px;
  margin: 0 auto;
}
#resultScreen #mainResultsScreen #rightPanel #tabcontrol {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 0;
}
#resultScreen #mainResultsScreen #rightPanel #tabcontrol a {
  display: block;
  padding: 15px 25px;
  position: absolute;
  top: 15px;
  border-radius: 10px 10px 0 0;
  box-shadow: 5px 5px 1px #65558F;
  text-decoration: none;
  position: relative;
  z-index: 1;
}
#resultScreen #mainResultsScreen #rightPanel #tabcontrol a span {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  color: black;
  text-align: center;
  font-size: 0.79em;
  opacity: 0.5;
}
#resultScreen #mainResultsScreen #rightPanel #tabcontrol a:first-child {
  background-color: #FFCC00;
}
#resultScreen #mainResultsScreen #rightPanel #tabcontrol a:nth-child(2) {
  background-color: #00C7BE;
}
#resultScreen #mainResultsScreen #rightPanel #tabcontrol a:nth-child(3) {
  background-color: #32ADE6;
}
#resultScreen #mainResultsScreen #rightPanel #tabcontrol a:nth-child(4) {
  background-color: #4E4CBD;
}
#resultScreen #mainResultsScreen #rightPanel #tabcontrol a.active {
  z-index: 3;
}
#resultScreen #mainResultsScreen #rightPanel #tabbody {
  border: none;
  padding: 20px;
  border-radius: 20px;
  background-color: #FFCC00;
  position: relative;
  z-index: 4;
  height: 460px;
  box-shadow: 5px 5px 1px #65558F;
}
#resultScreen #mainResultsScreen #rightPanel #tabbody .descriptionItem {
  display: none;
}
#resultScreen #mainResultsScreen #rightPanel #tabbody .descriptionItem .TypicalColordescriptionText {
  text-align: center;
  padding-top: 30px;
  font-size: 1.5em;
}
#resultScreen #mainResultsScreen #rightPanel #tabbody .descriptionItem .HistogramdescriptionText {
  text-align: center;
  font-size: 1.5em;
}
#resultScreen #mainResultsScreen #rightPanel #tabbody .descriptionItem .HeatmapdescriptionText {
  text-align: center;
  font-size: 1.5em;
}
#resultScreen #mainResultsScreen #rightPanel #tabbody .descriptionItem .BackgroundRemovaldescriptionText {
  text-align: center;
  font-size: 1.5em;
}
#resultScreen #mainResultsScreen #rightPanel #tabbody .descriptionItem > div:first-child {
  margin: auto;
}
#resultScreen #mainResultsScreen #rightPanel #tabbody .descriptionItem #rep-colors {
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#resultScreen #mainResultsScreen #rightPanel #tabbody .descriptionItem #histogram {
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 500px;
  height: 300px;
}
#resultScreen #mainResultsScreen #rightPanel #tabbody .descriptionItem #heatmap {
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 500px;
  height: 300px;
}
#resultScreen #mainResultsScreen #rightPanel #tabbody .descriptionItem #heatmap img {
  max-width: 300px;
  max-height: 250px;
}
#resultScreen #mainResultsScreen #rightPanel #tabbody .descriptionItem #backgroundRemoval {
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 500px;
  height: 300px;
}
#resultScreen #mainResultsScreen #rightPanel #tabbody .descriptionItem #backgroundRemoval img {
  max-width: 300px;
  max-height: 250px;
}
#resultScreen #mainResultsScreen #rightPanel #tabbody .descriptionItem #heatmap + .toggle_label,
#resultScreen #mainResultsScreen #rightPanel #tabbody .descriptionItem #backgroundRemoval + .toggle_label {
  margin-top: 1rem;
  margin-left: auto;
}
#resultScreen #mainResultsScreen #rightPanel #tabbody .descriptionItem #color-description,
#resultScreen #mainResultsScreen #rightPanel #tabbody .descriptionItem #histogram-description,
#resultScreen #mainResultsScreen #rightPanel #tabbody .descriptionItem #heatmap-description,
#resultScreen #mainResultsScreen #rightPanel #tabbody .descriptionItem #background-removal-description {
  padding: 10px;
  text-align: center;
  font-size: 12px;
  line-height: 6px;
}
#resultScreen #mainResultsScreen #rightPanel #tabbody .descriptionItem img {
  display: block;
  margin: 0 auto;
  max-width: 90%;
}
#resultScreen #mainResultsScreen #rightPanel #tabbody #tabpage1 {
  display: block;
}
#resultScreen .toggleWrapper {
  display: flex;
  justify-content: center;
  padding-bottom: 5px;
}
#resultScreen .toggleWrapper .toggle {
  display: none;
}
#resultScreen .toggleWrapper .toggle + .toggle_label {
  display: block;
  width: 60px;
  height: 30px;
  background-color: #ccc;
  border-radius: 15px;
  position: relative;
  cursor: pointer;
  transition: background-color 0.3s;
}
#resultScreen .toggleWrapper .toggle + .toggle_label::after {
  content: "";
  display: block;
  width: 26px;
  height: 26px;
  border-radius: 50%;
  background-color: #fff;
  position: absolute;
  top: 2px;
  left: 2px;
  transition: transform 0.3s;
}
#resultScreen .toggleWrapper .toggle:checked + .toggle_label {
  background-color: #34C759;
}
#resultScreen .toggleWrapper .toggle:checked + .toggle_label::after {
  transform: translateX(30px);
}
#resultScreen #aiChat {
  background-color: #fff;
  border-radius: 10px;
  max-width: 1140px;
  border: 2px solid #ddd;
  margin: 0 auto;
}
#resultScreen #aiChat #messageBox {
  height: 200px;
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
}
#resultScreen #aiChat #messageBox ::-webkit-scrollbar {
  display: none;
}
#resultScreen #aiChat #messageBox .message {
  padding: 8px 12px;
  margin-bottom: 5px;
  border-radius: 5px;
}
#resultScreen #aiChat #messageBox .message.user-message {
  background-color: #007AFF;
  text-align: right;
  margin-left: auto;
  max-width: 70%;
  color: white;
  width: fit-content;
  word-wrap: break-word;
}
#resultScreen #aiChat #messageBox .message.ai-message {
  background-color: #9C9C9C;
  text-align: left;
  margin-right: auto;
  color: white;
  max-width: 70%;
  width: fit-content;
  word-wrap: break-word;
}
#resultScreen #aiChat #inputBox {
  display: flex;
  align-items: center;
  border: 1px solid #ddd;
  border-radius: 25px;
  padding: 5px;
  margin: 10px;
}
#resultScreen #aiChat #inputBox #inputMsg {
  flex-grow: 1;
  padding: 10px;
  border-radius: 5px;
  margin-right: 5px;
  outline: none;
  border: none;
}
#resultScreen #aiChat #inputBox #sendBtn {
  padding: 10px 18px;
  background-color: black;
  color: #fff;
  border: none;
  border-radius: 25px;
  white-space: nowrap;
  cursor: pointer;
  font-size: 1.3em;
  width: 15%;
}

.hidden {
  display: none !important;
}

.noneTransparent {
  opacity: 1 !important;
}

#rep-colors {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
}
#rep-colors .drop-tile {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin: 20px;
  border: 1px solid #ccc;
}

.toggleWrapper {
  margin: 0 auto;
}

/*# sourceMappingURL=style.css.map */
