header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 10px;
  z-index: 100;
}
header .appLogo {
  height: 49px;
  padding-left: 3%;
}
header .toolIconGroup {
  display: flex;
  padding-right: 3%;
}
header .toolIconGroup .toolIcon {
  height: 49px;
  margin-left: 20px;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#workSpace {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-top: 20px;
}
#workSpace #leftPanel {
  position: relative;
  width: 75%;
  height: 643px;
  border: 5px solid #000;
  border-radius: 15px;
  margin: 3% 1% 3% 3%;
  overflow: hidden;
}
#workSpace #leftPanel #uploadTile {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-flow: column;
  overflow: hidden;
}
#workSpace #leftPanel #uploadTile.dragging {
  background-color: #999;
  border: 3px dashed #000;
}
#workSpace #leftPanel #dndText {
  font-size: 64px;
  text-align: center;
  color: #6D6D6D;
  font-family: "TT Smalls Trial", sans-serif;
}
#workSpace #leftPanel #dndText #uploadImg {
  text-align: center;
  height: 58px;
}
#workSpace #leftPanel #createBtn {
  background-color: #393939;
  border-radius: 15px;
  width: 440px;
  height: 74px;
  display: block;
  margin: 0 auto;
  z-index: 100;
}
#workSpace #leftPanel #createBtn #createBtnTxt {
  font-size: 64px;
  color: #fff;
  font-family: "Vivaldi", sans-serif;
  padding-top: 10px;
}
#workSpace #leftPanel #editIconGroup {
  position: absolute;
  bottom: 10px;
  right: 10px;
  display: flex;
  gap: 10px;
  z-index: 100;
}
#workSpace #leftPanel #editIconGroup .editIconBg {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #5B5B5B;
  border-radius: 50%;
  height: 64px;
  width: 64px;
}
#workSpace #leftPanel #editIconGroup .editIconBg .editIcon {
  height: 38px;
  width: 38px;
}
#workSpace #leftPanel #previewImage {
  max-width: 100%;
  max-height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  display: block;
  margin: auto;
}
#workSpace #rightPanel {
  width: 25%;
  height: 643px;
  border-radius: 15px;
  margin: 3% 3% 3% 1%;
  display: flex;
  flex-direction: column;
  border: 2px solid #E5E5E5;
  background-color: #A8A8A8;
}
#workSpace #rightPanel .descriptionItem {
  background-color: #5B5B5B;
  color: #fff;
  margin: 20px 10px;
  padding: 10px;
  border-radius: 8px;
}
#workSpace #rightPanel .descriptionItem:first-child {
  margin-top: 100px;
}

#aiChat {
  width: 94%;
  height: 282px;
  border: 5px solid #000;
  border-radius: 15px;
  margin: 20px auto;
}
#aiChat #messageBox {
  display: flex;
  flex-direction: column;
  max-height: 300px;
  overflow-y: auto;
  padding: 10px;
}
#aiChat #messageBox .messageElemUs {
  align-self: flex-end;
  background-color: #007bff;
  color: white;
  padding: 8px 12px;
  border-radius: 12px;
  margin: 5px;
  max-width: 70%;
}
#aiChat #messageBox .messageElemAi {
  align-self: flex-start;
  background-color: #f1f1f1;
  color: black;
  padding: 8px 12px;
  border-radius: 12px;
  margin: 5px;
  max-width: 70%;
}
#aiChat #inputBox {
  display: flex;
  padding: 10px;
  border-top: 1px solid #ccc;
}
#aiChat #inputBox #inputMsg {
  flex-grow: 1;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-right: 10px;
}
#aiChat #inputBox #sendBtn {
  background-color: #af4cad;
  border: none;
  color: #fff;
  padding: 8px 15px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
}

@font-face {
  font-family: "TT Smalls Trial";
  src: url("fonts/TT Smalls Trial Regular.otf") format("opentype");
  font-weight: 400;
}
@font-face {
  font-family: "Vivaldi";
  src: url("fonts/VivaldiRegular-X3BXd.ttf") format("truetype");
  font-weight: 400;
}/*# sourceMappingURL=style.css.map */