$text-color: #333;
$primary-color: #3498db;
$border-color: #ddd;

$tab1-color: #FFCC00;
$tab2-color: #00C7BE;
$tab3-color: #32ADE6;
$tab4-color: #4E4CBD;

body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    color: $text-color;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    padding: 20px;
}

// アップロード画面
#uploadScreen {
    text-align: center;

    .appLogo {
        width: 80%;
        max-width: 800px;
        margin-top: 20%;
        margin-bottom: 10px;
    }

    #service-description {
        max-width: 800px;
        margin-bottom: 10px;
        font-size: 1.3em;
        ///*font-weight: bold;*///
        ///*font-family: "Train One", serif;*///
        .train-one-regular {
            font-family: "Train One", serif;
            font-weight: 400;
            font-style: normal;
        }
    }
    #description-details {
        max-width: 800px;
        margin-bottom: 20px;
        font-size: 0.75em;
        line-height: 0.5
    }
    #uploadTile {
        margin: auto;
        border: 2px dashed #aaa;
        padding: 40px;
        border-radius: 30px;
        cursor: pointer;
        background-color: #fff;
        transition: background-color 0.3s ease; // ホバー時のスムーズな変化
        width: 626px;
        height: 350px;
        display: flex;
        align-items: center;
        justify-content: center;

        &:hover {
            background-color: #f0f0f0;
        }

        .imageicon {
            margin: auto;
        }

        #dndText {
            font-size: 1.2em;
            color: #666;

            div:first-child {
                font-weight: bold;
                margin-bottom: 5px;
            }
        }
    }
}

// ローディング画面
#loadingScreen {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 350px;
}

#loadingText {
    font-size: 1.5em;
}

/* 黒いドーナツ型のリング（変化なし） */
.loader circle {
    transform-origin: center;
}

/* 伸びる物体（最初に回る） */
#falling-part {
    stroke-dasharray: 0, 100; /* 初期状態: 短い */
    stroke-dashoffset: 0;
    animation: stretchPath 1.5s infinite, rotateOrbit 1.5s linear infinite;
}

/* 遅れて回るボール */
#falling-part-ball {
    transform: rotate(-90deg) translateX(30px); /* 円周に沿う動きのみ適用 */
    transform-origin: 50% 50%;
    animation: Rotateball 1.5s cubic-bezier(0.1, 0.6, 0.9, 0.9) infinite;
    animation-timing-function: ease-in-out;
}

/* 伸びるアニメーション */
@keyframes stretchPath {
    0% { stroke-dasharray: 0, 360; stroke-dashoffset: 0; }  
    100% { stroke-dasharray: 80, 190; stroke-dashoffset: -190; } /* 伸びた部分が後ろに移動 */
}

/* 円周を沿って回転 */
@keyframes rotateOrbit {
    0% { transform: rotate(0deg) translate(0px, 0px) rotate(0deg); }
    10% { transform: rotate(0deg) translate(0px, 0px) rotate(0deg); }
    75% { transform: rotate(180deg) translate(0px, 0px) rotate(-180deg); }
    100% { transform: rotate(180deg) translate(0px, 0px) rotate(-180deg); }
}

/* 円周を沿って回転 */
@keyframes Rotateball {
    0% { transform: rotate(-90deg) translateX(30px); }
    20% { transform: rotate(-90deg) translateX(30px); }
    75% { transform: rotate(270deg) translateX(30px); }
    100% { transform: rotate(270deg) translateX(30px); }
}

// 結果表示画面
#resultScreen {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;

    #mainResultsScreen {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        margin-bottom: 30px;

        #leftPanel {
            display: flex;
            width: 45%;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;
            margin: 0 auto;

            #headimg {
                width: 65%;
                margin-bottom: 15px;
            }

            #loadedimage {
                display: flex;
                justify-content: center;
                align-items: center;
                overflow: hidden;
                background-color: #ddd;
                width: 500px;
                height: 500px;
                border-radius: 10px;

                img {
                    border-radius: 10px;
                    padding: 20px;
                    max-width: 100%;
                    max-height: 100%;
                    display: block;
                    margin: 0 auto;
                    width: 80%;
                    height: 80%;
                    object-fit: contain;
                    object-position: center;
                }
            }
        }

        #rightPanel {
            display: block;
            width: 45%;
            border-radius: 10px;
            margin: 0 auto;

            #tabcontrol {
                display: flex;
                justify-content: space-around;
                align-items: center;
                margin-bottom: 0;

                a {
                    display: block;
                    padding: 10px 20px;
                    margin: 0 auto;
                    border-radius: 10px 10px 0 0;
                    box-shadow: 3px 3px 1px #65558F;
                    text-decoration: none;
                    position: relative;
                    z-index: 1;

                    span {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        width: 100%;
                        height: 100%;
                        color: black;
                        text-align: center;
                        font-size: 0.79em;
                        opacity: 0.5;
                    }


                    &:first-child {
                        background-color: $tab1-color;
                    }

                    &:nth-child(2) {
                        background-color: $tab2-color;
                    }

                    &:nth-child(3) {
                        background-color: $tab3-color;
                    }

                    &:nth-child(4) {
                        background-color: $tab4-color;
                    }

                    &.active {
                        // border-bottom: 2px solid $primary-color;
                        z-index: 3;
                    }
                }
            }

            #tabbody {
                border: none;
                padding: 20px;
                border-radius: 0 0 10px 10px;
                background-color: $tab1-color;
                position: relative;
                z-index: 4;
                height: 460px;
                box-shadow: 3px 3px 1px #65558F;

                .descriptionItem {
                    display: none;

                    &>div:first-child {
                        margin: auto;
                    }

                    #rep-colors {
                        margin-bottom: 10px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }

                    #histogram,
                    #heatmap,
                    #backgroundRemoval {
                        margin-bottom: 10px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        max-width: 300px;
                        height: 300px;
                    }

                    #heatmap,
                    #backgroundRemoval {
                        +.toggle_label {
                            margin-top: 1rem;
                            margin-left: auto; //右詰
                        }
                    }

                    #color-description,
                    #histogram-description,
                    #heatmap-description,
                    #background-removal-description {
                        text-align: center;
                    }

                    img {
                        display: block;
                        margin: 0 auto;
                        max-width: 100%;
                    }
                }

                #tabpage1 {
                    display: block;
                }
            }
        }
    }


    // トグルスイッチ
    .toggleWrapper {
        display: flex;
        justify-content: center;
        margin: 20px;

        .toggle {
            display: none;

            &+.toggle_label {
                display: block;
                width: 60px;
                height: 30px;
                background-color: #ccc;
                border-radius: 15px;
                position: relative;
                cursor: pointer;
                transition: background-color 0.3s;

                &::after {
                    content: "";
                    display: block;
                    width: 26px;
                    height: 26px;
                    border-radius: 50%;
                    background-color: #fff;
                    position: absolute;
                    top: 2px;
                    left: 2px;
                    transition: transform 0.3s;
                }
            }

            &:checked+.toggle_label {
                background-color: #34C759;

                &::after {
                    transform: translateX(30px);
                }
            }
        }
    }

    // AIチャット
    #aiChat {
        background-color: #fff;
        border-radius: 10px;
        max-width: 1200px;
        border: 1px solid $border-color;
        margin: 0 auto;

        #messageBox {
            height: 200px;
            overflow-y: scroll;
            -ms-overflow-style: none;
            scrollbar-width: none;

            ::-webkit-scrollbar {
                display: none;
            }

            padding: 10px;
            margin-bottom: 10px;
            border-radius: 5px;

            .message {
                padding: 8px 12px;
                margin-bottom: 5px;
                border-radius: 5px;

                &.user-message {
                    background-color: #007AFF;
                    text-align: right;
                    margin-left: auto;
                    max-width: 70%;
                    color: white;
                    width: fit-content;
                    word-wrap: break-word;
                }

                &.ai-message {
                    background-color: #9C9C9C;
                    text-align: left;
                    margin-right: auto;
                    color: white;
                    max-width: 70%;
                    width: fit-content;
                    word-wrap: break-word;
                }
            }
        }

        #inputBox {
            display: flex;
            align-items: center;
            border: 1px solid #ddd;
            border-radius: 25px;
            padding: 5px;
            margin: 10px;

            #inputMsg {
                flex-grow: 1;
                padding: 10px;
                border-radius: 5px;
                margin-right: 5px;
                outline: none;
                border: none;
            }

            #sendBtn {
                padding: 10px 18px;
                background-color: black;
                color: #fff;
                border: none;
                border-radius: 25px;
                white-space: nowrap;
                cursor: pointer;
                font-size: 1.3em;
                width: 15%;
            }
        }
    }
}

// 隠し要素
 .hidden {
   display: none !important;
}

.noneTransparent {
    opacity: 1 !important;
}

#rep-colors {
    display: flex;

    .drop-tile {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        margin: 5px auto;
        border: 1px solid #ccc;
    }
}

.toggleWrapper {
    margin: 0 auto;
}